---

import GameCard from "../../ui/elements/cards/GameCard.astro";
---
<div class="mx-[50px] 1.5xl:mx-[40px] 3xl:mx-[100px] min-h-fit">
    <div class="">
        <h1 class="pt-[120px] text-6xl font-display">
            Unsere Games
        </h1>
        <div class="pt-7 flex flex-row flex-wrap gap-x-4 gap-y-4 justify-center xl:justify-normal">
            <GameCard game="valorant"></GameCard>
            <GameCard game="league"></GameCard>
            <GameCard game="overwatch"></GameCard>
            <GameCard game="rocket_league"></GameCard>
            <GameCard game="counter_strike"></GameCard>
        </div>
    </div>
</div>