---

import Button from "../../ui/elements/buttons/Button.astro";
---

<div
        class="bg-hero-pattern bg-fixed bg-cover bg-center h-svh min-h-[1000px] flex flex-col"
>
    <div class="ml-[100px] mr-[100px] min-h-full">
        <h1 class="pt-[120px]">
            <span class="text-8xl font-display">Düsseldorf</span><br/>
            <span class="text-8xl font-display">Gaming</span>
        </h1>
        <p class="text-[24px] font-body max-w-[415px]">
            Lorem ipsum dolor sit amet consectetur. Ullamcorper enim lorem pretium tristique.
        </p>
        <div class="pt-[120px]">
            <Button text="TEAM BEITRETEN" link=""></Button>
        </div>
    </div>
</div>