---
// Import the necessary components
import HeroSection from "@components/sections/landing/HeroSection.astro";
import Sponsors from "@components/sections/landing/Sponsors.astro";
import Games from "@components/sections/landing/Games.astro";
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout>
	<HeroSection/>
	<div class="pb-100 bg-gray-400 z-20 max-h-full">
		<Sponsors></Sponsors>
		<Games></Games>
		<div class="mx-50 1.5xl:mx-100 min-h-fit">
			<h1 class="pt-120 text-6xl font-display">
				Wer Wir Sind
			</h1>
			<p class="text-2xl font-body">
				Lorem ipsum dolor sit amet consectetur. Sagittis risus consequat at egestas enim pharetra habitant. Facilisis nibh elit lorem dictumst suspendisse quam leo eget. Augue condimentum vestibulum interdum rutrum. Sed malesuada congue nulla diam tincidunt orci vitae consequat. Vel sit ridiculus diam habitasse. Mattis est tellus mollis sit nec. Sed id quis suscipit nunc nibh at scelerisque amet. Morbi ornare lacus ullamcorper cursus neque mi urna. Eros ultrices tempus habitant tincidunt. Augue lacus placerat eget amet nulla. Tempor odio fringilla pretium venenatis rutrum.

				Enim placerat vulputate sed amet malesuada sit. Gravida nunc faucibus lorem pellentesque enim. Mi sit fringilla consequat integer. Aenean venenatis fames adipiscing risus amet lacinia nibh sit. Praesent eget sed nisi et in sit viverra mauris. Nisi massa at morbi odio amet velit sagittis. Massa odio velit purus fermentum massa vitae malesuada. Nisi aliquam quam nibh id. Vitae malesuada varius nullam amet sagittis ornare convallis risus. Libero id blandit elementum augue. Vulputate vitae dictum velit eget nisi et pulvinar duis. Orci ipsum sed fermentum sit sed quam scelerisque.
				Mollis eget fames diam dictumst. Dictumst elit pellentesque elit volutpat massa donec. Nullam eu sed nulla.
			</p>
		</div>
	</div>
</IndexLayout>