---

import FilterButtonCS from "../../ui/elements/buttons/FilterButtonCS.astro";
import FilterButton from "../../ui/elements/buttons/FilterButton.astro";
---
<div class="top-[210px] pb-[100px] z-20 flex flex-wrap gap-[20px] bg-gray-400 ">
    <FilterButton game="valorant"></FilterButton>
    <FilterButton game="league"></FilterButton>
    <FilterButton game="overwatch"></FilterButton>
    <FilterButton game="rocket_league"></FilterButton>
    <FilterButtonCS game="counter_strike"></FilterButtonCS>
</div>