@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #F3F3F3;
    font-family: 'NunitoSans', sans-serif;
}

.button-clip-normal {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 10% 100%, 0 60%);
}

.card-clip {
    clip-path: polygon(90% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.card-noclip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.image-clip {
    clip-path: polygon(0% 0%, 60% 0%, 100% 70%, 100% 100%, 10% 100%, 0% 80%);
}

h1, h2, h3 {
    font-family: 'BebasNeue-Regular', sans-serif;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

@media not all and (min-width: 860px) {
    .button-clip-normal {
        clip-path: polygon(85% 0, 100% 30%, 100% 100%, 25% 100%, 0% 50%, 0 0);
    }
}

@layer base {
    @font-face {
        font-family: 'BebasNeue-Regular';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/BebasNeue-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'NunitoSans';
        font-style: normal;
        font-display: swap;
        src: url(/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf) format('truetype');
    }
}