---
//Import relevant dependencies
import NavLink from "@components/ui/links/NavLink.astro";
import strings from "@utils/navigation.ts";
import Logo from "@components/Logo.astro";

// Select the correct translation based on the page's lang prop:
---

<!-- Main header component -->
<header class="py-20 px-50 md:py-50 1.5xl:px-100 sticky top-0 z-50 bg-gray-500">
    <!-- Navigation container -->
    <nav class="flex " aria-label="Global">
        <div class="">
            <!-- DG logo -->
            <a class="" href="/" aria-label="Brand">
                <Logo class="max-h-50 md:max-h-fit w-fit" />
            </a>
        </div>
        <!-- Contains navigation links -->
        <div class="hidden md:block content-end basis-full overflow-hidden">
            <!-- Navigation links container -->
            <div class="hidden mt-5 md:flex gap-y-4 md:mt-0 md:flex-row md:items-center md:justify-end md:gap-x-4 md:ps-7">
                <ul class="flex flex-row gap-x-12">
                    <!-- Navigation links and Authentication component -->
                    {strings.indexNavBarLinks.map(link => (
                            <li><NavLink link={link.url} name={link.name} /></li>
                    ))}
                </ul>
            </div>
        </div>
        <div class="md:hidden flex flex-row basis-full justify-end items-center">
            <svg width="68" height="25" viewBox="0 0 68 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="18" width="68" height="7" fill="#8C8C8C"/>
                <rect width="68" height="7" fill="#8C8C8C"/>
            </svg>
        </div>
    </nav>
</header>